GOOGLE_CLIENT_ID=742181440151-it9rdo4lg553fl92s7qfe18aogd91551.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dGlnaHQtZm9hbC02OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_V77Vw0gO3jWyZlJ8aC2gIq6LLy64E4tLr2M0mY2M9I

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
